body {
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
}

header {
  background: #1e293b;
  color: white;
  padding: 30px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

input, textarea {
  width: 80%;
  margin: 8px;
  padding: 10px;
}

button, .btn {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}